<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ params.text }}</h1>
    {% if params.caption %}
      <span class="govuk-caption-m">{{ params.caption }}</span>
    {% endif %}
  </div>
</div>
