{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ message }}</h1>

      {% if devMessage %}
        <p class="govuk-body govuk-body--secondary">{{ devMessage }}</p>
      {% endif %}

      <p class="govuk-body">
        <a class="govuk-link" href="/">Return to start</a>
      </p>
    </div>
  </div>
{% endblock %}
