{% extends "layouts/page.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appHeading({ text: heading }) }}

      <p class="govuk-body">
        Fakes upstream identity/data dependencies for local and CDP dev
        environments. Each faked service is mounted under its own path below.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        {% for fake in fakes %}
          <li><a class="govuk-link" href="{{ fake.path }}">{{ fake.label }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
