{% extends "govuk/template.njk" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% from "heading/macro.njk" import appHeading %}

{% set mainClasses = "app-main-wrapper" %}

{% block head %}
  <link href="{{ assetCss }}" rel="stylesheet">
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: serviceUrl,
    useTudorCrown: true
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({ items: breadcrumbs }) }}
  {% endif %}
  {{ govukPhaseBanner({
    tag: { text: "Alpha" },
    html: 'This is a new service.'
  }) }}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: [
        { href: "https://www.gov.uk/help/privacy-notice", text: "Privacy" },
        { href: "https://www.gov.uk/help/accessibility-statement", text: "Accessibility statement" }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ assetJs }}"></script>
{% endblock %}
